.todo-container {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  font-family: sans-serif;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  background: non;
  border: none;
  cursor: pointer;
  color: red;
}
